<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>AngularJS</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
       
      <script th:src="@{/technology.js}"></script>
      <link th:href="@{/main.css}" rel="stylesheet" />
       
      <head>
   <body ng-app="TechnologyManagement" ng-controller="TechnologyController">
      <h3>
         CRUD: Spring Boot + Rest + AngularJS
      </h3>
      <form ng-submit="submitTechnology()">
         <table border="0">
            <tr>
               <td>Technology Id</td>
               <td>{{technologyForm.technologyId}}</td>
            </tr>
            <tr>
               <td>Type</td>
               <td><input type="text" ng-model="technologyForm.technologyType" /></td>
            </tr>
            <tr>
               <td>Category</td>
               <td><input type="text" ng-model="technologyForm.category"  /></td>
            </tr>
            <tr>
               <td colspan="2">
                  <input type="submit" value="Submit" class="blue-button" />
               </td>
            </tr>
         </table>
      </form>
      <br/>
      <a class="create-button" ng-click="createTechnology()">Create Technology</a>
      <table border="1">
         <tr>
            <th>Technology Id</th>
            <th>Type</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>
         <!-- $scope.Technologys -->
         <tr ng-repeat="tech in techs">
            <td> {{ tech.technologyId }}</td>
            <td> {{ tech.technologyType }}</td>
            <td >{{ tech.category }}</td>
            <td>
            <a ng-click="editTechnology(tech)" class="edit-button">Edit</a>
            </td>
            <td>
            <a ng-click="deleteTechnology(tech)" class="delete-button">Delete</a>
            </td>
         </tr>
      </table>
   </body>
</html>